<style>

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

background:linear-gradient(135deg,#111827,#3b82f6,#9333ea);

}

.card{

width:380px;
padding:35px;
background:rgba(255,255,255,.1);
backdrop-filter:blur(15px);
border-radius:20px;
color:white;
text-align:center;

}

input{

width:100%;
padding:14px;
margin:20px 0;
border:none;
outline:none;
border-radius:8px;

}

button{

width:100%;
padding:14px;
background:#FFD700;
border:none;
border-radius:8px;
font-size:17px;
font-weight:bold;
cursor:pointer;

}

button:hover{

background:white;

}

a{

color:#FFD700;
text-decoration:none;

}

</style>
