<style>

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#0f172a,#2563eb,#7c3aed,#db2777);
background-size:400% 400%;
animation:bg 10s infinite alternate;
}

@keyframes bg{
0%{background-position:left;}
100%{background-position:right;}
}

.card{

width:380px;
padding:40px;
background:rgba(255,255,255,.1);
backdrop-filter:blur(15px);
border-radius:20px;
text-align:center;
box-shadow:0 20px 40px rgba(0,0,0,.3);
color:white;

}

h1{
margin-bottom:10px;
}

p{
margin-bottom:25px;
opacity:.8;
}

input{

width:100%;
padding:14px;
margin:10px 0;
border:none;
outline:none;
border-radius:8px;

}

button{

width:100%;
padding:14px;
margin-top:15px;
border:none;
background:#FFD700;
border-radius:8px;
font-size:17px;
font-weight:bold;
cursor:pointer;

}

button:hover{

background:white;

}

.links{

margin-top:20px;

}

a{

color:#FFD700;
text-decoration:none;

}

</style>